<section class="pagination">
  <a href="?page=<%=curPage-1%>" class="<%=hasPrev ? 'prev' : 'prev null'%>">
    Previous
  </a>
  <% if(curPage!=1){%>
  <a href="?page=1">First</a>
  <a href="?page=<%=curPage-1%>"><%=curPage-1%></a>
  <%}%>
  <a href="?page=<%=curPage%>" class="active"><%=curPage%></a>
  <%if(curPage!=lastPage){%>
  <a href="?page=<%=curPage+1%>"><%=curPage+1%></a>
  <a href="?page=<%=lastPage%>">Last</a>

  <%}%>
  <a href="?page=<%=curPage+1%>" class="<%=hasNext ? 'next' : 'next null'%>"
    >Next</a
  >
</section>
